# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# MLflow
mlruns/

# Ignore artifacts except trained model files
data/artifacts/*
!data/artifacts/model.pkl
!data/artifacts/preprocessor.pkl

# Environment variables
.env